html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(141, 170, 115);
}

.display,
.calculator-container {
  width: 370px;
}

.calculator-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 450px;
  background-color: rgb(234, 212, 184);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.159);
}

.display {
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 18px;

  border-radius: 22px 22px 0 0;
  position: relative;
}

.display::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background: white;
  pointer-events: none;
}

.display::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  background: linear-gradient(to right, white 0%, transparent 100%);
  pointer-events: none;
}

.display .text {
  font-size: 40px;
  margin: 0;
  white-space: nowrap;

  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  box-sizing: border-box;
}

#backspace svg {
  pointer-events: none;
}

.row {
  display: flex;
}

.left-container .row {
  display: flex;
  flex-grow: 1;
}

.left-container .row button {
  display: flex;
  flex: 1;
}

.left-container {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
}

.left-container .row.five #zero {
  flex: 2;
  padding-right: 1px;
}

.left-container .row.five #float {
  flex: 1;
}

.right-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.operators-container button {
  margin-bottom: 2px;
}

.buttons-container {
  display: flex;
  flex: 1;
}

button {
  border: none;
  font-size: 33px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  font-family: 'Open sans';
  font-weight: 500;
  background-color: rgb(248, 224, 194);
  padding: 0;

  margin: 1px;
}

button#multiply,
button#divide,
button#plus,
button#minus {
  flex: 1;
}

button#equal {
  flex: 1.4;
}

button.upper {
  margin-top: 0;
}

button.left {
  margin-left: 0;
}

button.bottom {
  margin-bottom: 0;
}

button.right {
  margin-right: 0;
}

.right-container button {
  font-size: 40px;
  background-color: rgba(221, 154, 107, 0.722);
  text-align: center;
}

.right-container button#equal {
  background-color: rgba(206, 139, 91, 0.911);
}

.right-container button#equal:active {
  background-color: rgb(254, 210, 156);
}

button:active {
  background-color: rgb(254, 210, 156);
}
